<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTPort</key>
	<string></string>
	<key>HTTPPort</key>
	<string>10004</string>
	<key>HTTPSPort</key>
	<string>10005</string>
	<key>accessToken</key>
	<string>6951ab53-9953-4fc0-ae2d-09053ce024b7</string>
	<key>aiqiyiPort</key>
	<string>10006</string>
	<key>currentConnectType</key>
	<integer>1</integer>
	<key>currentDeviceIp</key>
	<string>127.0.0.1</string>
	<key>deviceNickName</key>
	<string></string>
	<key>deviceSerialNum</key>
	<string>SN1111127</string>
	<key>deviceSupportType</key>
	<integer>0</integer>
	<key>deviceTime</key>
	<string>1555051035</string>
	<key>deviceType</key>
	<string>Wintel</string>
	<key>haveGetDetailDataFromDevice</key>
	<true/>
	<key>haveGetDetailDataFromServer</key>
	<true/>
	<key>isAddedDevice</key>
	<true/>
	<key>isLoginDevice</key>
	<true/>
	<key>isShowLabel</key>
	<false/>
	<key>isWifiCapacity</key>
	<false/>
	<key>lastSadpIP</key>
	<string></string>
	<key>localTime</key>
	<string>1555051035</string>
	<key>macString</key>
	<string>94-C6-91-A8-C4-06</string>
	<key>modelString</key>
	<string></string>
	<key>o</key>
	<string>ORBWEB</string>
	<key>supportTunnelType</key>
	<integer>2</integer>
	<key>systemInfoData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGMTJYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK0HCB8gISIjJCUmJygpVSRudWxs2wkKCwwNDg8QERITFBUWFxgZGhscHR5WQVBf
	bWFjVXJjb2RlU21hY1l2ZXJzaW9uSURcdmVyc2lvbl9jb2RlXW1lbWVyeVR5cGVTdHJW
	JGNsYXNzV3ZlcnNpb25fEA9kZXZpY2VNZW1lcnlOdW1dcHJvZHVjdF9tb2RlbF1zZXJp
	YWxfbnVtYmVygAOABYACgAiACYALgAyAB4AKgASABl8QETk0LUM2LTkxLUE4LUM0LTA2
	UFtGYW1pbHlDbG91ZFxlenZpejExMTExMjdZU04xMTExMTI3XxAUVjEuMjEuMF9CdWls
	ZF8xOTA0MTFfEDgwMDAwMDAwMTAwMDAwMDAxMDAwMDA4MDAwMDAwMDYwMGZmZmZmZmZm
	MDAwMDAwMDRmZmZmZmZmZloweDExNTAwMDAwEABWKG51bGwp0iorLC1aJGNsYXNzbmFt
	ZVgkY2xhc3Nlc18QFUhTSDEwMFN5c3RlbUluZm9Nb2RlbKMuLzBfEBVIU0gxMDBTeXN0
	ZW1JbmZvTW9kZWxfEBFIU0NvbW1vbUNvcHlNb2RlbFhOU09iamVjdF8QD05TS2V5ZWRB
	cmNoaXZlctEzNFRyb290gAEACAARABoAIwAtADIANwBFAEsAYgBpAG8AcwB9AIoAmACf
	AKcAuQDHANUA1wDZANsA3QDfAOEA4wDlAOcA6QDrAP8BAAEMARkBIwE6AXUBgAGCAYkB
	jgGZAaIBugG+AdYB6gHzAgUCCAINAAAAAAAAAgEAAAAAAAAANQAAAAAAAAAAAAAAAAAA
	Ag8=
	</data>
	<key>timeZone</key>
	<integer>8</integer>
	<key>uid</key>
	<string>1H5DNB1E62UOH7P3WA8X</string>
	<key>uidt</key>
	<string>o</string>
	<key>userID</key>
	<string>1552655388001</string>
	<key>version</key>
	<string></string>
	<key>wifiPassword</key>
	<string></string>
</dict>
</plist>
